*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #A82B2D;
    
}

.hp-name{
    position: absolute;
    width: 601px;
    height: 150px;
    left: 37%;
    top: 0px;
    
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 100%;

    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    
    text-decoration: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hp-play{
position: absolute;
width: 103px;
height: 64px;
left: 50%;
top: 250px;

font-family: 'VT323';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 100%;

display: flex;
align-items: center;


color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hp-about{
position: absolute;
width: 129px;
height: 64px;
left: 50%;
top: 333px;

font-family: 'VT323';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 100%;

display: flex;
align-items: center;

color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hp-contact{
position: absolute;
width: 180px;
height: 64px;
left: 50%;
top: 416px;

font-family: 'VT323';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 100%;

display: flex;
align-items: center;

color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hp-portfolio{
position: absolute;
width: 231px;
height: 64px;
left: 50%;
top: 499px;

font-family: 'VT323';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 100%;

display: flex;
align-items: center;

color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hp-play:hover, .hp-about:hover, .hp-contact:hover, .hp-portfolio:hover{
    text-decoration: underline;
}


.scroll-down{
position: absolute;
width: 282px;
height: 64px;
left: 75%;
top: 80%;

font-family: 'VT323';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 100%;

display: flex;
align-items: center;

color: #FFFFFF;
}

.hp-kl-sprite{
position: absolute;
width: 371px;
height: 588px;
left: 15%;
top: 257px;

image-rendering: pixelated;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hp-arrow-down{
position: absolute;
width: 205px;
height: 205px;
left: 86%;
top: 73%;
display: flex;
align-items: center;

image-rendering: pixelated;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

